.logo{
    width: 20%;
    background-color: black;
    padding: 0.8rem;
}
body{
    background-color: pink;
    font-family: sans-serif;
  
   
}
header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

.heading{
    color: burlywood;
}
nav > ul {
    display: flex;  
  justify-content: space-between;
  }
 a{
    color: cyan;
    margin-right: 40px;
    font-size: 30px;
    text-decoration: none;
 }
 a:hover{
    background-color: blue;
 }
    section{
        width: 80%;
        margin:auto;
        margin-bottom: 10px;
        margin-top: 0;
        max-width: 600px;
        padding-top: 26px;
    }
.info input{
    width: 300px;
margin: 5px;
}
.info label{
    display: inline-block;
}
h2{
    border-bottom: 2px solid black;
}
p::before{
    content:"Question #";
}
.questions{
    display: block;
    margin-bottom: 30px;
  
}
.questions label{
    display: block;
    margin: 2px;
}
fieldset{
    border: none;
}
.questions .select{
    display: block; 
}
button{
    display: block;
    margin: 40px auto;
    width: 40%;
    height: 60px;
    border: 2px solid black;
    font-size: large;
    background-color: pink;
}
address{
    background-color: #3d0716;
    font-size: 15px;
    color: white;
    text-align: center;
}
footer a{
    font-size: 15px; 
   margin: 0;
}
@media (prefers-reduced-motion:no-preference){
    *{
        scroll-behavior: smooth;
    }
    }
    @media only screen and (max-width:720px){
        a{
            color: cyan;
            margin-right: 10px;
            font-size: 20px;
         }
    }